@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-sm-inline-flex" style="height:300px">
        <ul class="navbar-nav flex-grow-1 justify-content-around">
            <li class="nav-item">
                <a class="nav-link text-white bg-secondary rounded p-3" asp-area="" asp-controller="Aluno" asp-action="ListAluno">Alunos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-secondary rounded p-3" asp-area="" asp-controller="Turma" asp-action="ListTurma">Turmas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-secondary rounded p-3" asp-area="" asp-controller="AlunoTurma" asp-action="ListAlunoTurma">Relacionamento Aluno Turma</a>
            </li>
        </ul>
    </div>
</div>
