@using SchoolManager.Domain.Entities.Exception.Base
@model ExceptionResponseBase
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Model.StatusCode</h1>
<h2 class="text-danger">@Model.StatusDescription</h2>